html {
  height: 100%;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: auto;
  box-sizing: border-box;
}

header {
  padding: 115px 0 32px 0;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

main, header > h1 {
  padding: 0 16px;
  max-width: 760px;
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  margin: 24px auto;
  box-sizing: border-box;
  color: #1d1d1d;
}

@media (max-width: 600px) {
  header > h1 {
    font-size: 36px;
  }
}